In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [5]:
from imblearn.metrics import classification_report_imbalanced

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

# Read the CSV and Perform Basic Data Cleaning

In [7]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [8]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv.zip')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.tail()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
68812,10000.0,0.1502,346.76,RENT,26000.0,Source Verified,Jan-2019,low_risk,n,9.60,...,80.0,0.0,0.0,0.0,20625.0,6798.0,11300.0,5425.0,N,N
68813,12000.0,0.2727,368.37,RENT,63000.0,Not Verified,Jan-2019,low_risk,n,29.07,...,96.2,0.0,0.0,0.0,87939.0,60350.0,13500.0,62939.0,N,N
68814,5000.0,0.1992,185.62,MORTGAGE,52000.0,Source Verified,Jan-2019,low_risk,n,14.86,...,100.0,0.0,1.0,0.0,30592.0,18611.0,3600.0,18492.0,N,N
68815,40000.0,0.0646,1225.24,MORTGAGE,520000.0,Verified,Jan-2019,low_risk,n,9.96,...,98.2,12.5,0.0,0.0,1033574.0,95958.0,100800.0,78634.0,N,N
68816,16000.0,0.1131,350.36,MORTGAGE,72000.0,Verified,Jan-2019,low_risk,n,7.02,...,94.3,0.0,1.0,0.0,251486.0,74835.0,23000.0,63090.0,N,N

# Split the Data into Training and Testing

In [9]:
le = LabelEncoder()

In [10]:
le.fit(df["loan_status"])

LabelEncoder()

In [11]:
df["loan_status"] = le.transform(df["loan_status"])

In [12]:
df["loan_status"].head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status, dtype: int32

In [13]:
for c in df:
    pd.get_dummies(df, columns=[c])

In [16]:
df = df.select_dtypes(exclude=['object'])
file_path = Path("11-Machine_Learning")
df.to_csv(file_path, index=False)

In [17]:
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10500.0,0.1719,375.35,66000.0,1,27.24,0.0,0.0,8.0,0.0,...,0.0,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0
1,25000.0,0.2000,929.09,105000.0,1,20.23,0.0,0.0,17.0,1.0,...,0.0,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0
2,20000.0,0.2000,529.88,56000.0,1,24.26,0.0,0.0,8.0,0.0,...,0.0,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0
3,10000.0,0.1640,353.55,92000.0,1,31.44,0.0,1.0,10.0,1.0,...,0.0,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
4,22000.0,0.1474,520.39,52000.0,1,18.76,0.0,1.0,14.0,0.0,...,0.0,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0

In [18]:
# Create our features
X = df.drop(columns="loan_status")

# Create our target
y = df["loan_status"]

In [19]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [20]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [21]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [22]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler.fit(X_train)
scaler.fit(X_test)

StandardScaler()

In [23]:
# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
print("X_test_scaled :")
print(X_test_scaled[:1])
print("X_train_scaled :")
print(X_train_scaled[:1])

X_test_scaled :
[[ 1.29227087  0.35027547  0.77992081 -0.1296483  -0.11125775 -0.30143262
  -0.66154368  1.39250866 -0.37294466 -0.34325419  0.51304047  1.32380904
   1.3238052   0.37644999  0.37659764  0.03857837  1.38901269 -0.02990953
   0.          0.          0.28037217  7.265437    0.          0.
   0.11135988 -0.78718805 -0.87752433 -0.43961772 -0.86237366  0.05773248
  -0.02747994 -0.5133238  -0.26522093 -0.84670348 -1.0501709  -0.84330151
  -1.05605831  0.18640082  0.40446114  0.79461952 -0.91072635 -0.90250327
  -0.81271278 -0.41306528 -1.16713383 -0.07757747 -0.01032036 -0.51744196
  -0.10830881  0.62435384  1.07354088 -0.81685272  0.72830381  1.05926479
  -0.32885554 -1.14428601 -0.1905405  -0.04761709 -0.31656285 -0.86300547
   2.03065643  1.79958467  0.09495128  1.39512445  0.          0.
  -0.13074007 -1.16805329  0.59139637 -0.9127963  -0.37284359  0.
  -0.68834774 -0.58109802 -0.73558781 -0.54088456]]
X_train_scaled :
[[ 0.0803997  -0.2010693  -0.32186252 -0.18856555 -0.8999722  -0.30143262
   0.65427817 -0.76718187 -0.37294466 -0.55232817 -0.87326653  0.10442237
   0.10469565 -0.17599623 -0.17582546 -0.21505241  0.07389143 -0.02990953
   0.          0.         -0.18047863 -0.11757898  0.          0.
  -0.14964612  1.58392567  0.84685533 -0.43961772 -0.86237366 -1.23983428
   1.41527975 -0.80105892 -1.74746996 -0.16242834 -0.64984763 -0.76832455
  -2.08013754 -0.04579635  0.40446114 -0.58101793  2.4319145  -0.90250327
   2.56582265  0.49544052 -1.30215245 -0.07757747 -0.01032036 -0.00657039
  -0.40080503 -0.67173132 -0.82066778 -0.24841917  0.75849974 -0.94014834
  -0.32885554 -0.33219836 -0.47762775 -0.66522136 -0.5357982  -0.59777009
  -0.71826712 -0.69094202 -0.4788586  -0.76481872  0.          0.
  -0.13074007 -0.11140694 -0.40211205 -0.9127963  -0.37284359  0.
   1.40332599 -0.90846843  0.03018971 -0.87234668]]

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [25]:
rf_model = RandomForestClassifier(random_state=1)

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [27]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
rf_model = rf_model.fit(X_train_scaled,y_train)
rf_predictions = rf_model.predict(X_test_scaled)

In [28]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, rf_predictions)
acc_score

0.9960476605637896

In [29]:
# Display the confusion matrix
cm = confusion_matrix(y_test,rf_predictions)
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1 "], columns=["Prediction 0", "Prediction 1"])
cm_df

           Prediction 0  Prediction 1
Actual 0             23            58
Actual 1             10         17114

In [30]:
# Print the imbalanced classification report
# YOUR CODE HERE
cr = classification_report(y_test,rf_predictions)
print("Random Forest Classification Report :")
print(cr)

Random Forest Classification Report :
              precision    recall  f1-score   support

           0       0.70      0.28      0.40        81
           1       1.00      1.00      1.00     17124

    accuracy                           1.00     17205
   macro avg       0.85      0.64      0.70     17205
weighted avg       1.00      1.00      1.00     17205

In [31]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.08551865857284269, 'total_rec_int'),
 (0.08160414634905622, 'total_pymnt_inv'),
 (0.06574026272512437, 'total_rec_prncp'),
 (0.05999643396327657, 'last_pymnt_amnt'),
 (0.05555237620328504, 'total_pymnt'),
 (0.01995507505390662, 'mo_sin_old_rev_tl_op'),
 (0.017905875797759725, 'revol_bal'),
 (0.017711712609696433, 'dti'),
 (0.017570246510939937, 'mo_sin_old_il_acct'),
 (0.016733944064699868, 'max_bal_bc'),
 (0.016334883529128333, 'bc_open_to_buy'),
 (0.016260901253736724, 'total_bal_il'),
 (0.016153467031085295, 'out_prncp_inv'),
 (0.015518840318660646, 'total_bal_ex_mort'),
 (0.015499584512566717, 'out_prncp'),
 (0.015299224288393021, 'bc_util'),
 (0.01497217956041945, 'tot_cur_bal'),
 (0.014939546958258368, 'avg_cur_bal'),
 (0.014868703175260867, 'tot_hi_cred_lim'),
 (0.014558607654187731, 'il_util'),
 (0.014224085137470466, 'total_il_high_credit_limit'),
 (0.013863630105346542, 'int_rate'),
 (0.01384366314533882, 'total_bc_limit'),
 (0.013634089773309963, 'installment'),
 (0.013330601740830368, 'mths_since_recent_bc'),
 (0.012891265118708682, 'total_rev_hi_lim'),
 (0.012785127131084059, 'all_util'),
 (0.012412708158668854, 'annual_inc'),
 (0.012026503545921633, 'total_acc'),
 (0.011814331597993295, 'loan_amnt'),
 (0.011701270464114313, 'num_actv_rev_tl'),
 (0.011232447534966867, 'mo_sin_rcnt_rev_tl_op'),
 (0.011088369927655143, 'num_il_tl'),
 (0.010999326103261072, 'mths_since_rcnt_il'),
 (0.010937955546224391, 'open_acc'),
 (0.010494438432198784, 'mths_since_recent_inq'),
 (0.0100848449948661, 'total_rec_late_fee'),
 (0.010051892246899759, 'num_rev_tl_bal_gt_0'),
 (0.009433087830207722, 'num_bc_tl'),
 (0.009193812739534204, 'num_sats'),
 (0.008945284601497239, 'pct_tl_nvr_dlq'),
 (0.008887963406166191, 'inq_last_12m'),
 (0.008858847959796447, 'num_rev_accts'),
 (0.008702374353206336, 'acc_open_past_24mths'),
 (0.008616891340204394, 'num_op_rev_tl'),
 (0.008565417771478666, 'mo_sin_rcnt_tl'),
 (0.008206315198487588, 'inq_fi'),
 (0.008161633537521562, 'num_tl_op_past_12m'),
 (0.007942569509422041, 'open_il_24m'),
 (0.007838681797919014, 'open_rv_24m'),
 (0.007802243154707795, 'num_actv_bc_tl'),
 (0.007567530615931786, 'open_acc_6m'),
 (0.007549026249498076, 'mort_acc'),
 (0.006697322626098051, 'total_cu_tl'),
 (0.006579417289419816, 'num_bc_sats'),
 (0.006362237601926318, 'open_act_il'),
 (0.006004483427967173, 'percent_bc_gt_75'),
 (0.005847989669424032, 'inq_last_6mths'),
 (0.005712794921137599, 'tot_coll_amt'),
 (0.005639383545765663, 'open_rv_12m'),
 (0.004661437551455234, 'open_il_12m'),
 (0.004352204700457983, 'delinq_2yrs'),
 (0.003576503093348608, 'num_accts_ever_120_pd'),
 (0.0026333147057094526, 'pub_rec_bankruptcies'),
 (0.0023818494154563634, 'pub_rec'),
 (0.0015634114479775958, 'num_tl_90g_dpd_24m'),
 (0.0012105844934187176, 'collections_12_mths_ex_med'),
 (0.0003941646077145074, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [32]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE

In [33]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [34]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE